[Unit]
# FrameNapTime puts the device to sleep for the night.
Description=FrameNapTime
RefuseManualStop=true
#RefuseManualStart=true

[Service]
Type=oneshot
WorkingDirectory=/
#ExecStartPre=echo 'Suspending variety'
#ExecStartPre=pkill --signal 'STOP' --full variety
ExecStart=/usr/sbin/rtcwake -s 28800 -m mem
#ExecStartPost=echo 'Resuming variety'
#ExecStartPost=pkill --signal 'CONT' --full variety

# Test Command (20 seconds instead of 8 hours
#ExecStart=/usr/sbin/rtcwake -s 20 -m mem | tee -a /var/log/FrameNapTime.log

# These lines do not work because service runs as root.
#User=frame
#ExecStartPost=variety -n;
  
